body {
    background-color: #202124;
    color: #FFFFFF;
    margin: 0 auto;
    padding: 0 auto;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

/* NAV */
header {
    display: flex;
    justify-content: end;
    height: 60px;
    padding: 0 18px;
}

header .options {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 13px;
}

div img {
    padding: 4px;
}

.grid {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    border-radius: 50%;
    width: 32px;
    height: 32px;
}
/*HOVERS*/
header .options a:hover {
    text-decoration: underline;
}

.dots-logo:hover, .image:hover {
    border-radius: 50%;
    background-color: #505358;
}
/* NAV */

/* Search */
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 59px;
}

.search .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.logo {
    height: 92px;
    margin-top: 80px;
}

.input-txt {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
}

.searcher {
    display: flex;
    align-items: center;
    height: 46px;
    width: 550px;
    border: solid 1px  #505358;
    border-radius: 24px;
    padding: 0px 8px 0px 8px;
}

.searcher:hover, .searcher:focus-within{
    background-color: #303134;
}

.iconos-s {
    width: 20px;
    height: 20px;
    padding: 0px 8px 0px 8px;
}
.searcher img:nth-child(3), img:nth-child(4){
    cursor: pointer;
}

.searcher-buttons {
    display: flex;
    gap: 10px;
}

.searcher-buttons input {
    border: solid 1px transparent;
    border-radius: 4px;
    background-color: #303134;
    padding: 10px 20px;
    color: whitesmoke;
    box-sizing: border-box;
    cursor: pointer;
}

.searcher-buttons input:hover {
    border: solid 1px rgb(187, 178, 178);
}

.esp {
    color: #8ab4f8;
}

.esp:hover {
    text-decoration: underline;
}
footer p {
    padding-left: 30px;
}

.f-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 14px 30px ;
    border-top: solid #3B3F42 1px;
}

.f-left, .f-rigth {
    font-size: 14px;
    display: flex;
    gap: 25px;
    padding-right: 20px;
}

footer a, p{
    color: #999da2;
}
footer div a:hover {
    text-decoration: underline;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 90px;
    background-color: #171717;
}